<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./resources/css/estilosProductos.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <title>Home Carvajal Mat.</title>
    <script src="https://kit.fontawesome.com/fb2678fbca.js" crossorigin="anonymous"></script>
</head>
<body>
    <Header id = "header">
        <div class="container__header">
            <div class="logo">
                <a href="/"><img src="./resources/css/img/Logo Ferreteria.png" alt="logo"></a>
            </div>
            <div class="container__nav">
                
                <nav id ="nav">
                    <ul>
                        <li><a href="/" >Home</a></li>
                        <li><a href="nosotros">Nosotros</a></li>
                        <li><a href="productos" class="select" >Productos</a></li>
                        <li><a href="#">Dashboard</a></li>
                        <li><a href="contacto">Contacto</a></li>
                        <!-- <li><a href="#">Despachos</a></li> -->
                        <li><a href="login"><img src="./resources/css/img/mbrilogout_99583.png" alt="Salir" class="exit"></a></li>
                    </ul>
                </nav>
                <div class="btn__menu" id="btn_menu"><i class="fa-solid fa-bars"></i></div>

            </div>
        </div>
    </Header>
    <main class="productos"><br>
        <section class="buscar">
            <input type="search" placeholder="Buscar" >
            
        </section>
        <section class="inventario">
            <%  results.forEach((producto) => {%>
            <div class="caja"><img src="<%= producto.imagenproducto %>" alt="Pie amigo" class="inventario__imagen"><h3 class="inventario__nombre"><%= producto.nombreproducto %></h3><a href="" class="precio">$ <%= producto.precio %></a><p class="inventario_descripcion"><%= producto.descripcion %></p></div>
            <% }); %>    
        

        </section>
    </main>    
    <footer>

        <div class="container__footer">
            <div class="box__footer">
                <div class="logo">
                    <img src="./resources/css/img/Logo Ferreteria.png" alt="">
                </div>
                <div class="terms">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptas impedit cum cumque velit libero officiis quam doloremque reprehenderit quae corporis! Delectus architecto officia praesentium atque laudantium, nam deleniti sapiente deserunt.</p>
                </div>
            </div>
            <div class="box__footer">
                <h2>Contactanos</h2>
                <a href="https://goo.gl/maps/zt7guVA1s6Ze14v79" target="_blank">Dirección</a>
                <a href="/contacto">Telefonos</a>
                <a href="/contacto">E-mail</a>
                <a href="#"></a>
            </div>

            <div class="box__footer">
                <h2>Compañia</h2>
                <a href="nosotros">Acerca de</a>
                <a href="#">Procesos</a>
                <a href="#">Servicios</a>              
            </div>

            <div class="box__footer">
                <h2>Redes Sociales</h2>
                <a href="#"> <i class="fab fa-facebook-square"></i> Facebook</a>
                <a target="_blank" href="https://wa.me/3057455799"><i class="fa-brands fa-square-whatsapp fa-lg"></i> WhatsApp</a>
                <a target="_blank" href="https://www.instagram.com/carvajalmateriales/"><i class="fab fa-instagram-square"></i> Instagram</a>
            </div>

        </div>

        <div class="box__copyright">
            <hr>
            <p>Todos los derechos reservados © 2021 <b>Carvajal Materiales</b></p>
        </div>
    </footer>
    </div>
    <script src="./resources/css/script.js"></script>
</body>
</html>